html.html--nid-21032 {

.page-wrapper {
  max-width: $xl;
  margin: 0 auto;
}

.featured {

  .carousel {
    margin-bottom: $gutter-teasers;
  }

  @include breakpoint($md-up) {

    font-size: 1vw;

    > .inner {
      display: flex;
    }
    .carousel {
      flex: none;
      width: 47em;
      margin-bottom: 0;
    }
    .posts {
      font-size: 1.15em;
      flex: none;
      width: 35em;
      margin-left: $gutter-teasers--narrow;
    }

  }

  @include breakpoint($max-site-width) {
    font-size: $max-site-width / 100;
  }

}

}
