html.html--nid-21019,
html.html--nid-21020{

  .cke_chrome.cke_reset {
    width: 960px;
  }

  .cke_inner.cke_reset {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
    box-sizing: content-box;
    position: static;
    transition: none;
    display: block;
    background: #fff;
  }

}