<div class="page-container">
  <div class="region content">
    <div class="inner">

      {{ page.content }}

      <div id="newjersey" class="featured-image full-height">
        <a class="link" href="#seattle">next</a>
      </div>
      <div id="seattle" class="featured-image full-height">
        <a class="link" href="#beatles">next</a>
      </div>
      <div id="beatles" class="featured-image full-height">
        <a class="link" href="#silentfilm">next</a>
      </div>
      <div id="silentfilm" class="featured-image full-height">
        <a class="link" href="#trains">next</a>
      </div>
      <div id="trains" class="featured-image full-height">
        <a class="link" href="#junkdrawerphotos">next</a>
      </div>
      <div id="junkdrawerphotos" class="featured-image full-height">
        <a class="link" href="#mysteriousface">next</a>
      </div>
      <div id="mysteriousface" class="featured-image full-height">
        <a class="link" href="#newjersey">next</a>
      </div>

    </div><!-- .inner -->
  </div><!-- .content -->
</div>
