
<div class="main-content">
  <div class="inner">
    <h2>{{ page['#title'] }}</h2>
    {{ page.content }}
  </div>
</div>

<footer>
  <div class="inner">
    <h4>Nullam Nibh Fringilla Sollicitudin</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Integer
      posuere erat a ante venenatis dapibus posuere velit aliquet.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </div>
</footer>
