<div class="page-container">
  <div class="region content">
    <div class="inner">

      {{ page.content }}

      <h1 class="page-title">{{ page['#title'] }}</h1>

      <div class="main-content">

        <div class="box-container">

          <div class="simple-box fontsize-px">
            <div class="outer-text">
             <p>font-size: 20px</p>
            </div>
          </div>

          <div class="simple-box fontsize-px-em">
            <div class="outer-text">
             <p>font-size: 2em</p>
              <div class="inner-text">
               <p>font-size: 2em</p>
              </div>
            </div>
          </div>

          <div class="simple-box fontsize-percent">
            <div class="outer-text">
             <p>font-size: 200%</p>
              <div class="inner-text">
               <p>font-size: 200%</p>
              </div>
            </div>
          </div>

          <div class="simple-box fontsize-percent-em">
            <div class="outer-text">
             <p>font-size: 200%</p>
              <div class="inner-text">
               <p>font-size: 2em</p>
              </div>
            </div>
          </div>

          <div class="simple-box fontsize-vw">
            <div class="outer-text">
             <p>font-size: 2vw</p>
            </div>
          </div>

          <div class="simple-box fontsize-vw-em">
            <div class="outer-text">
              <p>font-size: 2vw</p>
              <div class="inner-text">
                <p>font-size: 2em</p>
              </div>
            </div>
          </div>

          <div class="simple-box fontsize-vw-percent">
            <div class="outer-text">
              <p>font-size: 2vw</p>
              <div class="inner-text">
                <p>font-size: 200%</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
