<div class="page-container">

  <div class="region featured">
  
    <div class="inner">

	    <div class="carousel">
	      <div class="inner">
	        This is the carousel
	      </div><!-- .inner -->
	    </div><!-- .carousel -->
	
	    <div class="posts">
	      <div class="inner">
	        <div class="post">
	          <div class="post-image"></div>
	          <div class="post-content">
	            <h3 class="post-title">Post Title</h3>
	            <p class="post-text">
	              Cras mattis consectetur purus sit amet fermentum.
	              Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
	              eget lacinia odio sem nec elit.
	              Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet,
	              consectetur adipiscing elit.
	            </p>
	          </div><!-- .post -->
	        </div><!-- .post -->
	
	        <div class="post">
	          <div class="post-image"></div>
	          <div class="post-content">
	            <h3 class="post-title">Post Title</h3>
	            <p class="post-text">
	              Cras mattis consectetur purus sit amet fermentum.
	              Curabitur blandit tempus porttitor.
	              Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	              Lorem ipsum dolor sit amet,
	              consectetur adipiscing elit.
	            </p>
	          </div><!-- .post -->
	        </div><!-- .post -->
	
	        <div class="post">
	          <div class="post-image"></div>
	          <div class="post-content">
	            <h3 class="post-title">Post Title</h3>
	            <p class="post-text">
	              Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	              Cras mattis consectetur purus sit amet fermentum.
	              Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet,
	              consectetur adipiscing elit.
	            </p>
	          </div><!-- .post -->
	        </div><!-- .post -->
	
	      </div><!-- .inner -->
	    </div><!-- .posts -->
	  </div><!-- .inner -->
  </div><!-- .featured -->

  <div class="region content">
  
	  <div class="inner">

      <h1 class="page-title breakpoint-helper">{{ page['#title'] }}</h1>

	    {{ page.content }}
    
	  </div><!-- .inner -->

  </div><!-- .content -->

</div>