<div class="page-container">
  <div class="region content">
	  <div class="inner">

      {{ page.content }}

      <div class="featured-image headshot"></div>

      <div class="particulars">
        <h3>Richard Gilbert<br />Front end engineer, CivicActions</h3>
        <h2><i>Fun (but not too much fun) with Viewport Units</i></h3>
        <ul>
          <li><h4><a href="http://www.bixgomez.com">http://www.bixgomez.com</a></h4></li>
          <li><h4><a href="https://www.drupal.org/u/bixgomez">Drupal username: bixgomez</a></h4></li>
          <li><h4><a href="/more-about-me">Some more about me</a></h4></li>
        </ul>
      </div>
    
	  </div><!-- .inner -->
  </div><!-- .content -->
</div>
